```css
body{
    font-family: Arial;
    max-width:800px;
    margin:auto;
    padding:20px;
}

h1{
    color:navy;
}

#masterTimer{
    color:red;
}

#questionTimer{
    color:blue;
}

button{
    padding:12px 20px;
    margin-right:10px;
    font-size:18px;
}
```
